@model Bloggie.Web.Models.ViewModels.RegisterViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-6 col-lg-g">
            <form method="post">
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label" asp-form="FirstName">First Name</label>
                        <input type="text" class="form-control" asp-for="FirstName" />
                    </div>

                    <div class="col">
                        <label class="form-label" asp-form="FirstName">Last Name</label>
                        <input type="text" class="form-control" asp-for="LastName" />
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Username">Username</label>
                    <input type="text" class="form-control" asp-for="Username" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Email">Email Address</label>
                    <input type="email" class="form-control" asp-for="Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" class="form-control" asp-for="Password" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Confirm Password</label>
                    <input type="password" class="form-control" asp-for="Password" />
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="PhoneNumber">Phone Number</label>
                    <input type="email" class="form-control" asp-for="PhoneNumber" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
