@model Bloggie.Web.Models.ViewModels.BlogPostViewModel

<div>
    <div class="container">
        <form method="post">
            <input asp-for="BlogPost.Id" type="hidden" />
            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.Heading"></label>
                <input class="form-control" asp-for="BlogPost.Heading" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.PageTitle"></label>
                <input class="form-control" asp-for="BlogPost.PageTitle" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.ShortDescription"></label>
                <input class="form-control" asp-for="BlogPost.ShortDescription" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.Content"></label>
                <textarea class="form-control" asp-for="BlogPost.Content" rows="10"></textarea>
            </div>

            <div class="input-group mb-3">
                <input type="file" class="form-control" id="imageFileUpload">
                <label class="input-group-text" for="imageFileUpload">Upload</label>
            </div>

            <div class="mb-3">
                @if (Model.BlogPost?.FeatureImageUrl != null)
                {
                    <img src="@Model.BlogPost.FeatureImageUrl" id="featuredImage" class="img-thumbnail" />
                } else
                {
                    <img id="featuredImage" class="img-thumbnail" />
                }
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.FeatureImageUrl"></label>
                <input readonly class="form-control" asp-for="BlogPost.FeatureImageUrl" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.UrlHandle"></label>
                <input class="form-control" asp-for="BlogPost.UrlHandle" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.PublicationDate"></label>
                <input class="form-control" asp-for="BlogPost.PublicationDate" type="date" />
            </div>

            <div class="mb-3">
                <label class="form-lable" asp-for="BlogPost.Author"></label>
                <input class="form-control" asp-for="BlogPost.Author" type="text" />
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="Tags">Tags (Comma separated)</label>
                <input class="form-control" type="text" asp-for="Tags" />
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" asp-for="BlogPost.Visible" type="checkbox" />
                    <label class="form-check-lable" asp-for="BlogPost.Visible"></label>
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-secondary" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>

