@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var counter = 1;
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - The Dev Blog
            </h1>
            <p class="lead">
                Welcome to Bloggie, Bloggie is the home to coding blogs covering a vast range of topics like HTML, CSS, JavaScript, ASP.NET C#, Angular, React, SQL, etc.
            </p>
            <p class="lead">
                Want to read the latest dev articles? Join the bloggie and get weekly blogs right in your email.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img class="d-block mx-lg-auto img-fluid" width="400" src="https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&w=600" />
        </div>
    </div>
</div>

<div class="container">

    @if (!Model.BlogPosts.Any())
    {
        <div class="container">
            <div class="alert alert-info" role="alert">
                @Model.BlogPosts.Count() blog posts found.
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <h2 class="mb-2 display-3">Blogs</h2>

            @foreach (var blog in Model.BlogPosts)
            {
                <div class="row justify-content-center">
                    <div class="col-6">
                        @if(counter % 2 == 0) @await Html.PartialAsync("PartialViews/_imageView", blog) 
                        else @await Html.PartialAsync("PartialViews/_detailView", blog)
                    </div>
                    <div class="col-6">
                        @if(counter % 2 == 0) @await Html.PartialAsync("PartialViews/_detailView", blog) 
                        else @await Html.PartialAsync("PartialViews/_imageView", blog)
                    </div>
                </div>
                counter++;
            }
        </div>
    }
</div>