@page
@model Bloggie.Web.Pages.Admin.Blogs.CreateModel
@{
    ViewData["Title"] = "Create Blog Post";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Create Blog Post</h1>
    </div>
</div>

@await Html.PartialAsync("PartialViews/BlogForm", Model.BlogPost)

@section Scripts {
    <script>
        $(document).ready(function () {
            var editor = new FroalaEditor('#Content');
        });
    </script>
}